* {
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;

	font-family: "Raleway", sans-serif;
}
#blue {
	color: #0065fc;
}
#transparent {
	color: #d7d7d7;
}
#icon-blue {
	color: #0065fc;
	font-size: large;
}
p {
	font-weight: 400;
}
.bulle-filtre :hover {
	background-color: #deebff;
}
#heber a,
.popu a,
.activite a {
	text-decoration: none;
	color: #000000;
}

@media (max-width: 1400px) and (min-width: 993px) {
	h2 {
		font-size: 22px;
	}

	#logo {
		position: relative;
		width: 6rem;
		top: 4rem;
		left: 3rem;
	}

	.menu {
		display: flex;
		justify-content: flex-end;
	}

	.premier-elem a {
		color: #000000;
		text-decoration: none;
		margin: 3rem;
		padding: 2rem;
		border-top: 3px solid transparent;
	}
	.premier-elem a:hover {
		color: #0065fc;
		text-decoration: none;
		margin: 3rem;
		padding: 2rem;
		border-top: 3px solid;
	}
	.deux-elem a {
		color: #000000;
		text-decoration: none;
		margin: 3rem;
		padding: 2rem;
		border-top: 3px solid transparent;
	}
	.deux-elem a:hover {
		color: #0065fc;
		text-decoration: none;
		margin: 3rem;
		padding: 2rem;
		border-top: 3px solid;
	}

	.presentation {
		position: relative;
		margin-left: 3rem;
		margin-top: 6rem;
	}
	#icon-i {
		color: #0065fc;
	}
	.info {
		font-weight: 400;
		display: flex;
		gap: 1rem;
		margin-top: 1rem;
		margin-left: 3rem;
	}

	.input {
		position: relative;
		margin-top: 2rem;
		margin-left: 3rem;
	}
	.icon-pos {
		background-color: #f2f2f2;
		width: 2.5rem;
		border-radius: 15px 0px 0px 15px;
		display: flex;
		align-items: center;
		padding-left: 1.5rem;
		border: 0px;
	}
	.contener-icon {
		display: none;
	}
	.icon-search {
		display: none;
	}
	#pos {
		font-size: 1.5rem;
	}
	form {
		display: flex;
	}
	#texte {
		border-radius: 5px;
		border-color: #f2f2f2;
		height: 3rem;
		border: 0px;
		width: 16rem;
		font-size: x-large;
	}
	input[type="submit"] {
		background-color: #0065fc;
		color: #ffffff;
		border: 0px;
		border-radius: 0px 5px 5px 0px;
		width: 6rem;
	}

	.flt {
		margin-top: 1rem;
		margin-left: 3rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
	.grid {
		display: flex;
	}
	#btn-animaux {
		width: auto;
		text-align: center;
		flex-direction: row;
		padding: 1rem;
		gap: 1rem;
	}

	button {
		font-weight: 700;
		border-radius: 25px;
		border: 2px solid rgb(202 202 202);
		width: auto;
		height: 3rem;
		display: flex;
		align-items: center;
		padding: 1rem;
		background-color: #ffffff;
		gap: 0.5rem;
		margin: 2rem;
	}

	.element-prin {
		display: flex;

		align-items: center;
	}

	#heber {
		background-color: #f2f2f2;
		border-radius: 20px;
		margin: 1rem 1rem 1rem 3rem;
		width: 70%;
		height: auto;
	}
	#heber h2,
	#heber h4 {
		margin-left: 4rem;
		margin-top: 2.5rem;
		margin-bottom: 1rem;
	}
	.bulle {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.bulle-hotel {
		width: 25%;
		height: 23vh;
	}
	.bulle-hotel h3 {
		margin-top: 0.5rem;
		margin-left: 1rem;
	}
	.bulle-hotel p {
		margin-left: 1rem;
		margin-top: auto;
		margin-bottom: auto;
	}

	.bulle-hotel,
	.bulle-hotel2 {
		background-color: #f0f2f6;
		margin: 1rem;
		padding: 0.3rem;
		height: auto;
		border-radius: 20px;
		box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.09);
	}
	.bulle-hotel:nth-child(2) .star,
	.bulle-hotel:nth-child(4) .star {
		margin-top: 2rem;
	}

	#heber img {
		width: 100%;
		height: 9rem;
		border-radius: 20px 20px 0px 0px;
		object-fit: cover;
	}

	.popu {
		background-color: #f2f2f2;
		width: 30%;
		border-radius: 20px;
		height: auto;
		margin: 1rem;
	}
	.popu-graph {
		display: flex;
		align-items: center;
		gap: 1rem;
		position: relative;
		top: 2rem;
	}
	.bulle-hotel2 {
		display: flex;
		height: 17.5vh;
	}
	span {
		display: flex;
		flex-direction: column;
		height: 7rem;
		justify-content: space-around;
	}
	.bulle2 h3 {
		margin-top: 1rem;
		margin-left: 1rem;
	}
	.bulle2 span {
		display: flex;
		flex-direction: column;
		height: auto;
		justify-content: space-around;
	}
	.bulle2 p {
		margin-bottom: auto;
		margin-left: 1rem;
		margin-top: auto;
	}
	.popu img {
		width: 13vw;
		height: auto;
		border-radius: 20px 0px 0px 20px;
		object-fit: cover;
	}
	.star {
		display: flex;
		flex-wrap: nowrap;
		align-items: flex-end;
		margin-top: 1rem;
		margin-left: 1rem;
		margin-bottom: 1rem;
	}
	.popu h2 {
		margin: 0.5rem 1rem;
	}

	.bulle2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 3rem 0rem;
	}
	#act {
		margin-left: 3rem;
	}
	.activite {
		display: flex;

		margin: 2rem;
	}

	.activite img {
		height: 40vh;
		border-radius: 20px 20px 0px 0px;
		width: 100%;
		object-fit: cover;
	}
	.activite h3 {
		display: flex;
		text-align: start;
		padding: 1rem;
	}
	.bulle-activite {
		border-radius: 20px;
		margin: 1rem;
		background-color: #ffffff;
		box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.09);
		width: 65rem;
	}

	.bas {
		background-color: #f2f2f2;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 3rem 3rem 0rem 3rem;
		padding: 2rem;
		border: 0px;
	}
	.propos li,
	.bas-heber li,
	.assit li,
	.propos a,
	.bas-heber a,
	.assit a {
		text-decoration: none;
		list-style: none;
		padding: 0.5rem 0rem;
		color: #000000;
		font-weight: 400;
	}
}

/*------------------ CSS TABLETTE----------*/

@media (min-width: 768px) and (max-width: 992px) {
	h2 {
		font-size: 22px;
	}

	#logo {
		position: relative;
		width: 6rem;
		top: 4rem;
		left: 3rem;
	}

	.menu {
		display: flex;
		justify-content: flex-end;
	}
	.premier-elem a {
		color: #000000;
		text-decoration: none;
		margin: 3rem;
		padding: 2rem;
		border-top: 3px solid transparent;
	}
	.premier-elem a:hover {
		color: #0065fc;
		text-decoration: none;
		margin: 3rem;
		padding: 2rem;
		border-top: 3px solid;
	}
	.deux-elem a {
		color: #000000;
		text-decoration: none;
		margin: 3rem;
		padding: 2rem;
		border-top: 3px solid transparent;
	}
	.deux-elem a:hover {
		color: #0065fc;
		text-decoration: none;
		margin: 3rem;
		padding: 2rem;
		border-top: 3px solid;
	}

	.presentation {
		position: relative;
		top: 7rem;
		margin-left: 3rem;
	}
	#icon-i {
		color: #0065fc;
	}
	.info {
		font-weight: 400;
		display: flex;
		gap: 1rem;
		margin-top: 4rem;
		margin-left: 3rem;
	}

	.input {
		position: relative;
		margin-top: 10rem;
		margin-left: 3rem;
	}
	.icon-pos {
		background-color: #f2f2f2;
		width: 2.5rem;
		border-radius: 15px 0px 0px 15px;
		display: flex;
		align-items: center;
		padding-left: 1.5rem;
		border: 0px;
	}
	.contener-icon {
		display: none;
	}
	.icon-search {
		display: none;
	}
	#pos {
		font-size: 1.5rem;
	}
	form {
		display: flex;
	}
	#texte {
		border-radius: 5px;
		border-color: #f2f2f2;
		height: 3rem;
		border: 0px;
		width: 16rem;
		font-size: x-large;
	}
	input[type="submit"] {
		background-color: #0065fc;
		color: #ffffff;
		border: 0px;
		border-radius: 0px 5px 5px 0px;
		width: 6rem;
	}

	.flt {
		margin-top: 1rem;
		margin-left: 3rem;
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	.grid {
		display: flex;
	}
	#btn-animaux {
		width: auto;
		text-align: center;
		flex-direction: row;
		padding: 1rem;
		gap: 1rem;
	}

	button {
		font-weight: 700;
		border-radius: 25px;
		border: 2px solid rgb(202 202 202);
		width: auto;
		height: 3rem;
		display: flex;
		align-items: center;
		padding: 0.5rem;
		background-color: #ffffff;
		gap: 0.5rem;
		margin: 0.4rem;
	}

	.element-prin {
		display: block;
	}

	#heber {
		background-color: #f2f2f2;
		border-radius: 20px;
		margin: 3rem;
		height: 30%;
	}
	#heber h2,
	#heber h4 {
		margin: 0rem 0rem 0rem 3rem;
		padding: 3rem 0rem 2rem 0rem;
	}
	.bulle {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.bulle-hotel {
		width: 25%;
	}

	.bulle-hotel,
	.bulle-hotel2 {
		background-color: #f0f2f6;
		margin: 1rem;
		padding: 0.2rem;
		border-radius: 20px;
		box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.23);
	}
	.bulle-hotel h3,
	.bulle-hotel p {
		padding: 0.2rem;
	}

	#heber img {
		width: 100%;
		height: 8rem;
		border-radius: 20px 20px 0px 0px;
		object-fit: cover;
	}

	.popu {
		background-color: #f2f2f2;
		border-radius: 20px;
		height: 30%;
		margin: 3rem;
		margin-top: 5rem;
		padding: 0.2rem;
	}
	.popu-graph {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		margin-top: 2rem;
		margin-right: 1rem;
	}
	.bulle-hotel2 {
		display: flex;
		position: relative;
		justify-content: space-around;
		height: auto;
		width: 35%;
	}
	.bulle-hotel:nth-child(2) .star,
	.bulle-hotel:nth-child(4) .star {
		margin-top: 2rem;
	}
	.star {
		display: flex;
		flex-wrap: nowrap;
		align-items: flex-end;
		margin-top: 1rem;
		margin-left: 0.5rem;
	}
	span {
		display: flex;
		flex-direction: column;
		height: 7rem;
		justify-content: space-around;
	}
	span h3,
	span p {
		padding: 0.5rem;
	}
	.popu img {
		width: 10vw;
		height: auto;
		border-radius: 20px 0px 0px 20px;
		object-fit: cover;
	}
	.popu h2 {
		margin: 0rem 0rem 0rem 6rem;
		padding: 1rem 0rem 1rem 0rem;
	}

	.bulle2 {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.bulle2 span {
		display: flex;
		flex-direction: column;
		height: auto;
		justify-content: space-around;
	}
	#act {
		margin-left: 3rem;
	}
	.activite {
		display: flex;
		justify-content: center;
		margin: 3rem;
		gap: 0.5rem;
	}

	.activite img {
		height: 15rem;
		border-radius: 20px 20px 0px 0px;
		width: 100%;
		object-fit: cover;
	}
	.activite h3 {
		text-align: center;
	}
	.bulle-activite {
		border-radius: 20px;
		margin: 0.5rem;
		background-color: #ffffff;
		box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.09);
		display: block;
		width: 100%;
		height: auto;
	}

	.bas {
		background-color: #f2f2f2;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 3rem 3rem 0rem 3rem;
		padding: 2rem;
		border: 0px;
	}
	.propos li,
	.bas-heber li,
	.assit li,
	.propos a,
	.bas-heber a,
	.assit a {
		text-decoration: none;
		list-style: none;
		padding: 0.5rem 0rem;
		color: #000000;
		font-weight: 400;
		font-size: small;
	}
}

/*----------------CSS MOBILE-----------------*/

@media (max-width: 767px) {
	h2 {
		font-size: 22px;
	}

	#logo {
		position: relative;
		width: 6rem;
		margin-top: 4rem;
		margin-left: 3rem;
	}

	.menu {
		display: flex;
		position: relative;
		justify-content: space-around;
	}
	.premier-elem,
	.deux-elem {
		width: 50%;
	}
	.premier-elem a,
	.deux-elem a {
		color: #000000;
		padding-bottom: 2rem;
		display: block;
		position: relative;
		text-decoration: none;
		text-align: center;
		margin-top: 3rem;
		border-bottom: 2px solid#d7d7d7;
	}

	.premier-elem a:hover,
	.deux-elem a:hover {
		border-bottom: 2px solid #0065fc;
		width: 100%;
		text-align: center;
		position: relative;
		color: #0065fc;
	}

	.presentation {
		position: relative;
		margin: 3rem;
	}
	.presentation p {
		margin-top: 1rem;
	}
	#icon-i {
		color: #0065fc;
	}
	.info {
		font-weight: 400;
		display: flex;
		gap: 1rem;
		margin: 3rem;
	}

	.input {
		position: relative;
		display: flex;
		align-items: center;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	.icon-pos {
		background-color: #f2f2f2;
		width: 2.5rem;
		border-radius: 15px 0px 0px 15px;
		display: flex;
		align-items: center;
		padding-left: 1.5rem;
		border: 0px;
	}
	#pos {
		font-size: large;
	}
	form {
		display: flex;
	}
	#texte {
		border-radius: 5px;
		border-color: #f2f2f2;
		height: auto;
		border: 0px;
		width: 65%;
		font-size: x-large;
	}
	input[type="submit"] {
		display: none;
	}
	.contener-icon {
		background-color: #0065fc;
		color: #ffffff;
		border: 0px;
		border-radius: 0px 5px 5px 0px;
		width: 20%;
		height: 6vh;
		display: block;
		align-items: center;
	}
	.icon-search {
		display: block;
		margin: auto;
	}

	.flt {
		margin-top: 3rem;
	}
	.flt h2 {
		margin-left: 3rem;
	}
	.grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	.flt:nth-child(1) {
		font-size: 18px;
	}
	#btn-animaux {
		width: 35vw;
		text-align: center;
		flex-direction: row;

		margin-right: 1rem;
		gap: 0.3rem;
	}

	button {
		font-weight: 700;
		border-radius: 25px;
		border: 2px solid rgb(202 202 202);
		width: 35vw;
		height: 3rem;
		display: flex;
		align-items: center;
		padding: 1rem;
		background-color: #ffffff;
		gap: 0.5rem;
		margin: 0.5rem;
		margin-left: 2.5rem;
		overflow: hidden;
	}

	.element-prin {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	#heber {
		background-color: #ffffff;
		width: 100%;
		height: 30%;
		order: 2;
	}
	#heber h2,
	#heber h4 {
		margin: 3rem;
	}
	.bulle {
		display: block;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin-left: 1rem;
	}
	.bulle-hotel {
		width: 80%;
	}
	.bulle-hotel h3,
	.bulle-hotel p {
		margin-left: 1rem;
	}

	.bulle-hotel,
	.bulle-hotel2 {
		background-color: #f0f2f6;
		margin: 1rem;
		padding: 0.5rem;
		border-radius: 20px;
		box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.09);
	}

	#heber img {
		width: 100%;
		height: 8rem;
		border-radius: 20px 20px 0px 0px;
		object-fit: cover;
	}

	.popu {
		background-color: #f2f2f2;
		width: 100%;
		height: auto;
		order: 1;
	}
	.popu-graph {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		margin-top: 2rem;
		margin-right: 2rem;
	}
	.bulle-hotel2 {
		display: flex;
		height: 20vh;
		margin: 2rem;
	}
	span {
		display: flex;
		flex-direction: column;
		height: auto;
		justify-content: space-around;
	}
	.bulle2 h3 {
		margin-top: 1rem;
		margin-left: 1rem;
	}
	.bulle2 p {
		margin-bottom: auto;
		margin-left: 1rem;
		margin-top: 0.5rem;
	}
	.star {
		margin-right: auto;
		align-self: flex-end;
		margin-left: 1rem;
		margin-bottom: 1rem;
	}
	.popu img {
		width: 30vw;
		height: auto;
		border-radius: 20px 0px 0px 20px;
		object-fit: cover;
	}
	.popu h2 {
		margin: 3rem;
	}

	.bulle2 {
		display: block;
		flex-direction: row;
		justify-content: center;
		margin: 3rem 0rem;
	}

	.activite {
		display: block;
		justify-content: center;
		width: 80%;
	}

	#act {
		margin-left: 3rem;
	}

	.activite img {
		height: 30vh;
		border-radius: 20px 20px 0px 0px;
		width: 100%;
		object-fit: cover;
	}
	.activite h3 {
		text-align: start;
		margin: 1rem;
		padding-bottom: 1rem;
	}
	.bulle-activite {
		border-radius: 20px;
		margin: 2rem;
		background-color: #ffffff;
		box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.09);
		display: block;
		width: 100%;
		height: auto;
	}

	.bas {
		background-color: #f2f2f2;
		display: flex;
		flex-direction: column;

		height: auto;
		width: auto;
	}
	.bas h3 {
		margin: 1rem;
		margin-left: 4rem;
	}
	.propos li,
	.bas-heber li,
	.assit li,
	.propos a,
	.bas-heber a,
	.assit a {
		color: #000000;
		text-decoration: none;
		list-style: none;
		margin: 0.5rem;
		margin-left: 2rem;
		margin-bottom: 1rem;
		font-size: small;
	}
}
