*{
    margin: 0;
    padding: 0;
}

body{
    background:#ffffff;
    
    font-family: 'Raleway', sans-serif;
   
    
}
#blue{
    color: #0065FC;
}
#transparent{
    color: #d7d7d7;
}
#icon-blue{
    color: #0065FC;
  
}
p{
    font-weight: 50;
    font-size: 16px;
}
.bulle-filtre :hover{
    background-color: #DEEBFF ;
}
#heber a,.popu a,.activite a{
    text-decoration: none;
    color: #000000;
}


@media only screen and (min-width: 993px){
   

    h1{
        font-size: 22px;
    }

    #logo{
      position: relative;
      width: 6rem;
    top: 4rem;
    left: 3rem;
    }
   



    .menu{
        display:flex;
        justify-content: flex-end;
        
        
    }

    .premier-elem a{
        color: #000000;
        text-decoration: none;
        margin: 3rem;
        padding: 2rem;
        border-top: 3px solid transparent;
        
    }
    .premier-elem a:hover{
        color: #0065FC;
        text-decoration: none;
        margin: 3rem;
        padding: 2rem;
        border-top: 3px solid;
    }
     .deux-elem a {
        color: #000000;
        text-decoration: none;
        margin: 3rem;
        padding: 2rem;
        border-top: 3px solid transparent;
    }
    .deux-elem a:hover{
        color: #0065FC;
        text-decoration: none;
        margin: 3rem;
        padding: 2rem;
        border-top: 3px solid;
    }

    
     .presentation{ 
        position: relative;
       margin: 3rem;
        top: 7rem;
        
    } 
    #icon-i{
        color: #0065FC;
    }
    .info{
        font-weight: 400;
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        margin-left: 3rem;
    }

    .input{
        position: relative;
        margin-top: 10rem;
        margin-left: 3rem;
        

    }
    .icon-pos{
        background-color: #F2F2F2;
        width: 2.5rem;
        border-radius: 15px 0px 0px 15px;
        display: flex;
        align-items: center;
        padding-left: 1.5rem;
        border: 0px;
       
    }
    #pos{
        font-size: 1.5rem;
    }
    form{
        display: flex;
    }
    #texte{
        border-radius: 5px;
        border-color: #F2F2F2;
        height: 3rem;
        border: 0px;
        width: 16rem;
        font-size:x-large;
    }
    input[type="submit"]{
        background-color: #0065FC;
        color: #FFFFFF;
        border: 0px;
        border-radius: 0px 5px 5px 0px;
        width: 6rem;
    }

    .flt{
        
        margin-top: 2rem;
        margin-left: 3rem;
        display: flex;
        align-items: center;
        gap:.5rem;
    }
    .grid{
        display: flex;
        /* justify-content: space-around; */
    }
    #btn-animaux{
        width: auto;
        text-align: center;
       flex-direction: row;
       padding: 1rem;
       gap: 1rem;
      
    }
    


    button{
        font-weight: 700;
        border-radius: 25px;
        border: 2px solid rgb(202 202 202);
        width:auto;
        height: 3rem;
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: #ffffff;
        gap: .5rem;
        margin: 2rem;
        
    }

    .element-prin{
        display: flex;
        
        align-items: center;
    }
    

    #heber{
        background-color: #F2F2F2;
        border-radius: 20px;
        margin: 2rem 1rem 3rem 3rem;
        width: 55%;
       padding: 1rem;
        
        
        
    }
    #heber h1, #heber h4{
        margin: 0rem 4rem;
        padding: 3rem 0rem 2rem 0rem;
    }
    .bulle{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .bulle-hotel{
        width: 25%;
    }
  
    .bulle-hotel,.bulle-hotel2{
        background-color: #F0F2F6;
        margin: 1rem;
        padding: .3rem;
        border-radius: 20px;
        box-shadow: 3px 3px 15px 5px rgba(0,0,0,0.09);
    }

    #heber img{
        width: 100%;
        height: 8rem;
        border-radius: 20px 20px 0px 0px;
        
    }

 

    .popu{
        background-color: #F2F2F2;
        width: auto;
        border-radius: 20px;
        height:auto;
        margin: 3rem;
        
    }
    .popu-graph{
        display: flex;
        align-items: center;
        gap: 4rem;
        position: relative;
        top: 2rem;
    }
    .bulle-hotel2{
        display: flex;
        
        
    }
    .span{
        display: block;
        margin: 2rem;
    }
    .popu img{
        width: 13vw;
        height: auto; 
        border-radius: 20px 0px 0px 20px;
    }
    .star{
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
    }
    .popu h1{
        margin: 0rem 3rem;
        padding:1rem 0rem 1rem 0rem;
    }

    .bulle2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3rem 0rem;
        padding: 1.5rem;
        
    }
    #act{
         margin-left: 3rem;
    }
    .activite{
        display: flex;
        
       margin: 2rem;
    }

    .activite img{
        height: 32rem;
        border-radius: 20px 20px 0px 0px;
        width: 100%;
    }
    .activite h3{
        display: flex;
        text-align: start;
        padding: 1rem;
        
     } 
        .bulle-activite{
        border-radius: 20px;
         margin: 1rem; 
        background-color: #FFFFFF;
        box-shadow: 3px 3px 15px 5px rgba(0,0,0,0.09);
        width: 55rem;
       
    } 

    .bas{
        background-color: #F2F2F2;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 3rem 3rem 0rem 3rem;
        padding: 2rem;
        border: 0px;
        
    }
    .propos li,.bas-heber li,.assit li,.propos a,.bas-heber a,.assit a{
        
        text-decoration: none;
        list-style: none;
        padding: .5rem 0rem ;
        color: #000000;
        font-weight: 400;
        
    }
}


/*------------------ CSS TABLETTE----------*/

@media (min-width: 768px)  and (max-width: 992px){
   

    h1{
        font-size: 22px;
    }

    #logo{
        position: relative;
        width: 6rem;
      top: 4rem;
      left: 3rem;
      }
     
   

    .menu{
        display:flex;
        justify-content: flex-end;
      
        
    }
    .premier-elem a{
        color: #000000;
        text-decoration: none;
        margin: 3rem;
        padding: 2rem; 
        border-top: 3px solid transparent;
        
    }
    .premier-elem a:hover{
        color: #0065FC;
        text-decoration: none;
        margin: 3rem; 
        padding: 2rem;
        border-top: 3px solid;
    }
     .deux-elem a {
        color: #000000;
        text-decoration: none;
        margin: 3rem; 
        padding: 2rem;
        border-top: 3px solid transparent;
    }
    .deux-elem a:hover{
        color: #0065FC;
        text-decoration: none;
        margin: 3rem;
        padding: 2rem;
        border-top: 3px solid;
    }

    
    .presentation{
        position: relative;
        top: 7rem;
        margin-left:3rem;
    }
    #icon-i{
        color: #0065FC;
    }
    .info{
        font-weight: 400;
        display: flex;
        gap: 1rem;
        margin-top: 4rem;
        margin-left: 3rem;
    }

    .input{
        position: relative;
        margin-top: 10rem;
        margin-left: 3rem;
        

    }
    .icon-pos{
        background-color: #F2F2F2;
        width: 2.5rem;
        border-radius: 15px 0px 0px 15px;
        display: flex;
        align-items: center;
        padding-left: 1.5rem;
        border: 0px;
       
    }
    #pos{
        font-size: 1.5rem;
    }
    form{
        display: flex;
       
    }
    #texte{
        border-radius: 5px;
        border-color: #F2F2F2;
        height: 3rem;
        border: 0px;
        width: 16rem;
        font-size:x-large;
    }
    input[type="submit"]{
        background-color: #0065FC;
        color: #FFFFFF;
        border: 0px;
        border-radius: 0px 5px 5px 0px;
        width: 6rem;
    }

    .flt{
        
        margin-top: 5rem;
        margin-left: 3rem;
        display: flex;
        align-items: center;
        gap:1rem;
    }
    .grid{
        display: flex;
    }
    #btn-animaux{
        width: auto;
        text-align: center;
       flex-direction: row;
       padding: 1rem;
       gap: 1rem;
       
      
    }
    


    button{
        font-weight: 700;
        border-radius: 25px;
        border: 2px solid rgb(202 202 202);
        width:auto;
        height: 3rem;
        display: flex;
        align-items: center;
        padding: .5rem;
        background-color: #ffffff;
        gap: .5rem;
        margin: .4rem;

        
    }

    .element-prin{
        display: block;
    }
    

    #heber{
        background-color: #F2F2F2;
        border-radius: 20px;
        margin: 3rem;
        height: 30%;
        
        
    }
    #heber h1, #heber h4{
        margin: 0rem 0rem 0rem 3rem;
        padding: 3rem 0rem 2rem 0rem;
    }
    .bulle{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .bulle-hotel{
        width: 25%;
    }
  
    .bulle-hotel,.bulle-hotel2{
        background-color: #F0F2F6;
        margin: 1rem;
        padding: .2rem;
        border-radius: 20px;
        box-shadow: 3px 3px 15px 5px rgba(0,0,0,0.23);
    }

    #heber img{
        width: 100%;
        height: 8rem;
        border-radius: 20px 20px 0px 0px;
        
    }

 

    .popu{
        background-color: #F2F2F2;
        border-radius: 20px;
        height: 30%;
        margin: 3rem;
        margin-top: 5rem;
        padding: .2rem;
        
    }
    .popu-graph{
        display: flex;
        align-items:center ;
        justify-content: space-between;
        position: relative;
        margin-top: 2rem;
        margin-right: 1rem;
    }
    .bulle-hotel2{
        display: flex;
        position: relative;
        justify-content: space-around;
        height: auto;
        width: 45vw;
        overflow: hidden;
        font-size: auto;
    }
    .star{
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        margin-top: 2rem; 
    


    }
    span{
        margin: .2rem;
    }
    .popu img{
        width: 10vw;
        height: auto; 
        border-radius: 20px 0px 0px 20px;
    }
    .popu h1{
        margin: 0rem 0rem 0rem 6rem;
        padding:1rem 0rem 1rem 0rem;
    }

    .bulle2{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #act{
        margin-left: 3rem;
    }
    .activite{
        display: flex;
        justify-content: center;
        margin: 3rem;
    }

    .activite img{
        height: 15rem;
        border-radius: 20px 20px 0px 0px;
        width: 100%;
    }
    .activite h3{
        text-align: center;
    }
    .bulle-activite{
        border-radius: 20px;
        margin: .5rem;
        background-color: #FFFFFF;
        box-shadow: 3px 3px 15px 5px rgba(0,0,0,0.09);
        width: 45%;
        height: 19rem;
    }

    .bas{
        background-color: #F2F2F2;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin:3rem 3rem 0rem 3rem;
        padding: 2rem;
        border: 0px;
    }
    .propos li,.bas-heber li,.assit li,.propos a,.bas-heber a,.assit a{
        text-decoration: none;
        list-style: none;
        padding: .5rem 0rem ;
        color: #000000;
        font-weight: 400;
    }
}

@media  (max-width: 767px){
   

    h1{
        font-size: 22px;
    }

     #logo{
        position: relative;
        width: 6rem;
      margin-top: 4rem;
      margin-left: 3rem;
      } 
     
     .menu{
        display:flex;
        position: relative;
        margin-left: 3rem;
        margin-top: 10rem;
        gap: 30%;
        
        
    }
    .premier-elem a {
        color: #000000;
        text-decoration: none;
        padding-bottom: 2rem;
        display: block;
        text-align: center;
        position: relative;
      }
      
      .premier-elem a::after {
        content: "";
        position: absolute;
        left: -3rem;
        bottom: 0;
        width: 50vw;
        height: 2px;
        z-index: 0;
        background-color: rgb(255, 255, 255);
      }
      
    .premier-elem a:hover{
        color: #0065FC;

    }
    .premier-elem a:hover::after{
        background-color: #0065FC;
        z-index: 1;
    }
    .deux-elem a {
        color: #000000;
        text-decoration: none;
        padding-bottom: 2rem;
        display: block;
        text-align: center;
        position: relative;
      }
      
      .deux-elem a::after {
        content: "";
        position: absolute;
        right: -2rem;
        bottom: 0;
        z-index: 0;
        width: 50vw;
        height: 2px;
        background-color: rgb(255, 255, 255);
      }
      
    .deux-elem a:hover{
        color: #0065FC;

    }
    .deux-elem a:hover::after{
        background-color: #0065FC;
        z-index: 1;
    }
    
    .presentation{
        position: relative;
        margin: 3rem;
        
    }
    .presentation p {
        margin-top: 1rem;
    }
    #icon-i{
        color: #0065FC;
    }
    .info{
        font-weight: 400;
        display: flex;
        gap: 1rem;
        margin: 3rem;
    }

    .input{
        position: relative;
        display: flex;
        align-items: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .icon-pos{
        background-color: #F2F2F2;
        width: 2.5rem;
        border-radius: 15px 0px 0px 15px;
        display: flex;
        align-items: center;
        padding-left: 1.5rem;
        border: 0px;     
    }
    #pos{
        font-size: auto;
    }
    form{
        display: flex;    
    }
     #texte{
        border-radius: 5px;
        border-color: #F2F2F2;
        height: 3rem;
        border: 0px;
        width: 65%;
        font-size:x-large;
    } 
    input[type="submit"]{
        background-color: #0065FC;
        color: #FFFFFF;
        border: 0px;
        border-radius: 0px 5px 5px 0px;
        width: 30%;
    }

    .flt{ 
        margin-top: 3rem;
    }
    .flt h1{
        margin-left: 3rem;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .flt:nth-child(1){
        font-size: 18px;

    }
     #btn-animaux{
        width: 95%; 
        text-align: center;
        flex-direction: row;
        margin-left: .1rem;
        margin-right: 1rem;
        gap: .3rem;
        
    } 
    


    button{
        font-weight: 700;
        border-radius: 25px;
        border: 2px solid rgb(202 202 202);
        width:35vw;
        height: 3rem;
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: #ffffff;
        gap: .5rem;    
        margin: .5rem;
        margin-left: 1rem;
        overflow: hidden;
    }

    .element-prin{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    

    #heber{
        background-color: #ffffff;
        width: 100%;
        height: 30%;
        order: 2;    
    }
    #heber h1, #heber h4{
        margin: 3rem;
        
    }
    .bulle{
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 1rem;    
    }
    .bulle-hotel{
        width: 80%;
       
    }
  
    .bulle-hotel,.bulle-hotel2{
        background-color: #F0F2F6;
        margin: 1rem;
        padding: .5rem;
        border-radius: 20px;
        box-shadow: 3px 3px 15px 5px rgba(0,0,0,0.09);
    }

    #heber img{
        width: 100%;
        height: 8rem;
        border-radius: 20px 20px 0px 0px; 
    }

 

    .popu{
        background-color: #F2F2F2;
        width: 100%;
        height: auto;
        order: 1;    
    }
    .popu-graph{
        display: flex;
        align-items:center ;
        justify-content: space-between; 
        position: relative;
        margin-top: 2rem;
        margin-right: 2rem;
    }
    .bulle-hotel2{
        display: flex;
        height: 20vh;
        margin: 2rem;
    }
    span{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-around;

      
    }
    .bulle2 h3 {
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .bulle2 p{
      margin-bottom: auto;
      margin-left: 1rem;
    }
    .star{
  
      margin-right: auto;
       align-self: flex-end;
       margin-left: 1rem;
       margin-bottom: 1rem;
    }
    .popu img{
        width: 30vw;
        height: auto; 
        border-radius: 20px 0px 0px 20px;
    }
    .popu h1{
        margin: 3rem;
    }

    .bulle2{
        display: block;
        flex-direction: row;
        justify-content: center;
        margin: 3rem 0rem;
        
    }

    .activite{
        display: block;
        justify-content: center;
        width: 100%;
       
    }

    #act{
        margin-left: 3rem;
    }

    .activite img{
        height: auto;
        border-radius: 20px 20px 0px 0px;
        width: 100%;
    }
    .activite h3{
        text-align: start; 
        margin: 1rem;
        padding-bottom: 1rem; ;
    }
    .bulle-activite{
        border-radius: 20px;
        margin: 3rem;
        background-color: #FFFFFF;
        box-shadow: 3px 3px 15px 5px rgba(0,0,0,0.09);
        width: 80%;
        
       
    }

    .bas{
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;

        height: auto;
        width: auto;
  

        
    }
    .bas h1{
        /* font-size: small; */
        margin: 1rem;
        margin-left: 4rem;
    }
    .propos li,.bas-heber li,.assit li,.propos a,.bas-heber a,.assit a{
        
        color: #000000;
        text-decoration: none;
        list-style: none;
        margin: .5rem;
        margin-left: 2rem;
        margin-bottom: 2rem;
        font-size: small;
    } 
}